/* ================= HERO SECTION ================= */

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-container .section-text {
  text-align: justify;
}

/* ================= SERVICES SECTION ================= */
.between-section-title {
  display: none;
}

.services-section {
  display: block;
}

.services-container {
  display: block;
}

.section-subtitle {
  margin-top: 24px;
}

/* ===================== BLOG SECTION ==================== */

.blog-container .section-text {
  margin-bottom: 24px;
}
