/* ================= BASE STYLES ================= */
:root {
  --bg-color: #fff;
  --dark-color: #1a403f;
  --accent-color: #a3c5ba;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: var(--bg-color);
  color: var(--dark-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: var(--dark-color);
}

.link:visited {
  color: var(--dark-color);
}

img {
  display: block;
  height: auto;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ================= LAYOUT STYLES ================= */
.section {
  padding-top: 72px;
  padding-bottom: 72px;
  height: auto;
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.list {
  list-style: none;
}

.section-title {
  font-size: 32px;
  font-weight: 200;
  line-height: 110%;
  letter-spacing: -1;
}

.section-subtitle {
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -1;
  text-transform: uppercase;
  font-weight: 200;
}

.section-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
}

.section-text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

.section-img-wrap {
  max-width: 310px;
}

.decor-line {
  width: 60px;
  height: 1px;
  margin-left: auto;
  background-color: var(--dark-color);
}

.more-btn,
.open-modal-btn {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 12px;
  padding-top: 12px;
  max-width: 180px;

  background-color: transparent;
  border: none;
}

.btn-link {
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 12px;
  padding-top: 12px;
  color: var(--dark-color);
}

.btn-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--dark-color);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.btn-link:hover::after {
  width: 100%;
}
/* ================= HEADER STYLES ================= */
.header {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  align-items: center;
}

.header-nav-list {
  display: none;
}

.logo-header-wrap {
  display: flex;
  justify-content: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

/* ================= FOOTER STYLES ================= */
.footer {
  padding-top: 48px;
  padding-bottom: 24px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.footer-logo-wrap {
  margin-left: auto;
  margin-right: auto;
}

.heart-icon {
  animation: beat 0.7s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.6);
  }
}

/* ================= MODAL STYLES ================= */
.modal {
  display: none;
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--bg-color);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--dark-color);
  width: 90%;
  max-width: 320px;
  position: relative;
}

/* ================= MOB MENU STYLES ================= */

.mob-menu-btn {
  position: absolute;
  top: 28;
  right: 26;
  padding: 0;
  border: none;
  background-color: transparent;
}

.hidden {
  display: none;
}

.mob-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  left: 20px;
  background-color: var(--bg-color);
  color: var(--dark-color);
  width: 90%;
  height: 100%;
  padding: 20px;
  display: none;
  z-index: 999;
}

.mob-menu-list {
  max-width: 164px;
  list-style: none;
  margin-top: 150px;
  padding: 0;

  display: flex;

  flex-direction: column;
  gap: 48px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu-list-item .more-btn {
  font-size: 24px;

  text-transform: capitalize;
}

.mob-menu-list-item .socials-list {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.mob-menu-link {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 24px;
  display: block;
}